.hero {
	background-image: url(https://static.wywrota.pl/pliki/site_images/3b06849a_jpg-lg);
	background-position: cover;
	text-align: center;
}

.container {
	text-align: center;
}

body {
	color: green;
}


